@font-face {
    font-family: 'Futura';
    src: url('../assets/futura/futur.ttf') format('ttf');
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'Futura', Helvetica, Arial, sans-serif;
	color: var(--font-color-main);
}


body {
	padding: 0;
	margin: 0;
}

:root {
	--font-color-main: #fafafa;
	--container-color-main: #171717;
    --container-color-lighter: #404040;
}

// main container styling
.container {
	background: url(../assets/potato-background.jpeg);
	height: 100vh;
	width: 100vw;
}

// nav bar & tab button styling
.container .nav-bar {
	background-color: var(--container-color-main);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 2rem 0 2rem;
	opacity: 80%;
}

.container .nav-bar h1 {
	letter-spacing: 0.25rem;
	font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tab-container {
	display: flex;
	gap: 2rem;
}

.nav-button {
	appearance: none;
	border: none;
	letter-spacing: 0.25rem;
	font-size: 1.75ch;
	color: var(--font-color-main);
	padding: 0.5rem 2rem;
	background-color: var(--container-color-main);
	opacity: 90%;
    transition: all .3s ease;
}

.nav-button:hover {
	cursor: pointer;
    transform: scale(1.1);
}

.nav-button.active {
	border-bottom: 2px solid var(--font-color-main);
}

// info container styling
.info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 3rem;
	height: 75%;
	width: 70%;
	background-color: var(--container-color-main);
	opacity: 95%;
	position: absolute;
	top: 13%;
	left: 15%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fadeIn .5s;
}

.info-container p {
	letter-spacing: 0.15rem;
	line-height: 1.75rem;
	width: 90%;
	font-size: 2ch;
	text-align: center;
	font-style: italic;
	text-overflow: wrap;
}

.info-container img {
	height: 70%;
	width: 70%;
	border-radius: 12rem;
}

.container div.menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: scroll;
	background-color: var(--container-color-main);
	opacity: 90%;
	position: absolute;
	top: 13%;
	left: 15%;
	padding: 3rem;
	grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;
	height: 70%;
	width: 70%;
    animation: fadeIn .5s;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 300px;
	gap: 1rem;
    background-color: var(--container-color-main);
	text-align: center;
    padding: 2rem;
    border: .1px dotted var(--font-color-main);
    transition: all .35s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.recipe-container:hover {
    cursor: pointer;
    background-color: var(--container-color-lighter);
}

.menu-container img {
	border-radius: 0;
	height: 70%;
	width: 85%;
}

.recipe-container p {
    font-size: 1.5ch;
    font-style: italic;
    letter-spacing: .1rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 1fr;
    background-color: var(--container-color-main);
    opacity: 90%;
    position: absolute;
	top: 13%;
	left: 15%;
	padding: 2.5rem;
	grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;
	height: 70%;
	width: 70%;
    letter-spacing: .1rem;
    animation: fadeIn .5s;
}

.contact-container div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contact-container img:nth-child(1),
.contact-container img:nth-child(2) {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(1372%) hue-rotate(239deg) brightness(112%) contrast(96%);
}

.contact-container img:nth-child(3) {
    width: 100%;
    height: 100%;
}

.footer {
	background-color: var(--container-color-main);
	opacity: 80%;
	color: var(--font-color-main);
	letter-spacing: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	position: absolute;
	top: 91.5%;
	width: 100%;
}

.footer a {
    text-decoration: none;
    margin-left: .5rem;
}

.footer a:hover {
    text-decoration: underline;
}

.footer #git-hub {
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(1372%) hue-rotate(239deg) brightness(112%) contrast(96%);
    opacity: 100%;
    margin-left: .5rem;
    transition: all .3s ease;
}

.footer #git-hub:hover {
    cursor: pointer;
    transform: rotate(360deg) scale(1.4);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 90%;
    }
}

@media (max-width: 850px) {
    .container div.menu-container {
        grid-template-columns: 1fr;
    }
}